@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@400;700&display=swap");
* {
  font-family: 'Comic neue', cursive, 'Courier New', Courier, monospace;
}

body {
  text-align: center;
  text-decoration: none;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  -webkit-margin-start: 0;
          margin-inline-start: 0;
  -webkit-margin-end: 0;
          margin-inline-end: 0;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

h1 {
  font-size: 2.4rem;
  font-weight: bolder;
  margin: 0.4rem;
}

.hidden {
  display: none;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 65% 35%;
      grid-template-columns: 65% 35%;
}

.inner-container {
  background-color: #fff;
  font-size: 0.8rem;
  margin: 0.5rem;
  -webkit-box-shadow: 0.2rem 0.2rem 0.9rem #bbb;
          box-shadow: 0.2rem 0.2rem 0.9rem #bbb;
}

.inner-container .inner-container-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0.6rem;
  border-bottom: 1px solid #ddd;
}

.inner-container .inner-title {
  font-size: 1.8rem;
  font-weight: bold;
}

.score-board {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.score-board ul {
  text-align: left;
}

.score-board ul li,
.score-board ul .score-list-li {
  margin: 0;
  padding: 0.4rem 0.4rem;
  border-bottom: 1px solid #ddd;
  text-align: left;
  list-style: none;
}

.score-board ul li .score-set,
.score-board ul .score-list-li .score-set {
  padding: 0.2rem;
  font-size: 0.8rem;
  text-align: left;
  margin: 0.2rem;
  border: none;
  outline: none;
}

.add-score {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 11rem;
}

.add-score input {
  font-size: 0.8rem;
  padding: 0.6rem;
  outline: none;
  border: none;
  border-bottom: 1px solid #ddd;
}

.add-score .new-input::-webkit-input-placeholder {
  color: #888;
}

.add-score .new-input:-ms-input-placeholder {
  color: #888;
}

.add-score .new-input::-ms-input-placeholder {
  color: #888;
}

.add-score .new-input::placeholder {
  color: #888;
}

.btn {
  font-size: 1rem;
  text-align: center;
  font-weight: bold;
  border: solid 0.2rem black;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #fff;
  -webkit-box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.9);
          box-shadow: 2px 3px 1px rgba(0, 0, 0, 0.9);
  margin: 0;
  padding: 0.2rem 0.6rem;
  cursor: pointer;
}

.new-input-btn {
  margin: 0.6rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
}
/*# sourceMappingURL=index.css.map */